/* Set height of the grid so .sidenav can be 100% (adjust if needed) */

.row.content {
    height: 1500px
}


/* Set  background color  */

body {
    background-color: #0c0c46;
}

a {
    color: black;
}

.logo {
    width: 200px;
    height: auto;
}

.btn {
    border-radius: 0 !important;
}

.btn:hover,
.btn:visited {
    background-color: #ff8800;
}

.active-page {
    background-color: #ff8800;
    color: black;
}

.chart {
    width: 200px;
    height: auto;
}


/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}